[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastei"]
	path = fastei
	url = https://github.com/danielhermosilla/ecological-inference-elections
